<html>
	<head>
		<style>
			#box {
				//background-color: #ddd;
				width: 400px;
				height: 300px;
				margin-top: 15%;
				margin-left:auto;
				margin-right:auto;
			}
			textarea {
				width: 400px;
				height: 50px;
				font-size:30px
			}
		</style>
		<title>DM project</title>
	</head>
	<body>
		<div id="box">
			<form method="post" action="/show/">
				{% csrf_token %}
				{{ form.as_p }}
				<h1>Make a comment.</h1>
				<div>
					<input type="text" name="content" placeholder="Content" required>
				</div><br>

	    		<input type="submit" value="Submit" />
			</form>
		</div>
	</body>
</html>
